@import url('https://fonts.googleapis.com/css?family=Lobster|Anton|cabin|Exo+2');
body {
    background: whitesmoke;
    font-family: "Lato";
    
}

.header {
    background-image: url('https://images.unsplash.com/photo-1508252568242-e0f383f753d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d76717fa5297f4a098873dc4b36346b&auto=format&fit=crop&w=750&q=80');
    background-position: top center;
    background-size: cover;
    color: whitesmoke;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10% 0;
}

.header h1 {
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Lobster', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 4px 4px goldenrod;
    font-weight: 500;
}

.header p {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-line: underline;
    text-shadow: 1px 4px 4px goldenrod;
}

.information  {
    background-color:goldenrod;
    padding: 5% 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.information h2{

    text-transform: uppercase;
    padding-bottom: 1% 0;
    font-family: 'Anton','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.information p {
    font-size: 29px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

img {
    width: 100%;
    float: left;
    margin: 1.66%;
}
.modal-body{
color:black;

}
.service {
    background-color: slategrey;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.service h2{
    font-family: 'Anton','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1%;
}

.col-sm {
    width: 100%;
    float: left;
    margin: 1.66%;
}

.shoes h2 {
    padding-bottom: 1%;
    text-transform: uppercase;
    font-family: 'Anton','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shoes h4 {
    font-size: 19px;
    font-family: 'Anton', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.staff h2 {
    text-transform: uppercase;
    padding-bottom: 1% 0;
    font-family: 'Anton','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.staff{
    background-color:goldenrod;
    opacity: 0.9;
}
.staff p {
    background-color:
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.shoes {
 border: 1px solid gray;
}

.order {
    background-image: url('https://images.unsplash.com/photo-1514117956938-4f5b925831f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d0986f122e4d4e283bb5d81aafb50753&auto=format&fit=crop&w=750&q=80');
    background-position: top center;
    background-size: cover;
    color: whitesmoke;
    padding: 5% 0;
    font-family: 'Anton', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.order h2{

font-size: 29px;
font-family: 'Anton',Georgia, 'Times New Roman', Times, serif;
padding-bottom: 1% 0;
text-transform: uppercase;

}

.order p{

    font-size: 19px;
}
.contact p {
font-family: 'Courier New', Courier, monospace;
font-size: 17px;
}
.contact h1{

    font-family: 'Anton',Georgia, 'Times New Roman', Times, serif;
}
.contact h2{
    padding-bottom: 1%;
    font-size: 29px;
    color: black;
    font-family: 'Anton','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.form-row{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 19px;

}
.img-fluid{

    border: 1px solid dimgray;
}
.fa{

    display: inline-block;
    align-items: stretch;
}
.footer {
    font-family: 'Courier New', Courier, monospace;
    background: gray;
    padding: 2% 0;
 
    vertical-align: middle;
  
}